*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
  }
 
  nav{
    background: black;
    height: 80px;
    width: 100%;
  }
  label.logo{
    color: white;
    font-size: 2em;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
  }

  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
  }
  nav ul li a{
    color: white;
    font-size: 1.1em;
    padding: 7px 13px;
    border-radius: 3px;
    font-weight: 600;
  }

  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }

  #check{
    display: none;
  }

  nav ul li button{
    align-items: center;
    width: 130px;
    height : 50px;
    background: transparent;
    border: 2px solid white;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: white;
    font-weight: 500;
    margin-left: 15px;
    margin-right: 3em;
    transition: .5s;
}

nav ul li button a{
    align-items: center;
    margin-left: 5px;
}

  @media (max-width: 952px){
    label.logo{
      font-size: 30px;
      padding-left: 50px;
    }
    nav ul li a{
      font-size: 16px;
    }
  }
  @media (max-width: 858px){
    .checkbtn{
      display: block;
    }
    nav ul{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: black;
      top: 80px;
      left: -100%;
      text-align: center;
      transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
      line-height: 30px;
    }
    nav ul li a{
      font-size: 20px;
    }
    a:hover,a.active{
      background: none;
    }
    nav ul li button{
        margin:0;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  

.trend{
    padding: 8rem 7% 1.4rem;
    padding-top: 35px;
    justify-content: center;
    align-items: center;
    padding-bottom : 2rem;
    border-bottom: 0.1rem solid black;
    margin-left: 9rem;
    margin-right: 9rem
}

.trend h2{
    justify-content: center;
    align-items: center;
    display: flex;    
    font-size: 2.5rem;
}

.popular1{
    margin-left : 15%;
    margin-right: 15%;
    margin-top : 2rem;
}

.popular1 .row{
    display: flex;
}

.popular1 .img{
    margin-top: 0.25rem;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    background-image: gray;
    margin-right : 3rem;
}

.popular1 .img{
    background: url(./Photo/popular-img1.png);
    background-size: cover;
    background-position: center;
    margin-bottom: 1rem;
    background-color: black;
}

h3{
    font-size: 2rem;
    padding-bottom: 1.5rem;
}

p{
    padding-bottom: 0.75rem;
}

.popular1 .row .content .button{
    /* align-items: center;
    justify-content: center; */
    display: flex;
    margin-right: 75px;
    margin-left: 0;
}

.popular1 .row .content .button .btn1{
    background-color: gray;
    align-items: center;
    justify-content: center;
    font-size: 1.25em;
    border: 2px solid red;
    background-color: red;
    border-radius: 30px;
    width: 150px;
    height : 40px;
    outline: none;
    cursor: pointer;
    color: white;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.popular1 .row .content .button .btn2{
    background-color: gray;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    font-size: 1.25em;
    border: 2px solid gray;
    background-color: gray;
    border-radius: 30px;
    width: 150px;
    height : 40px;
    outline: none;
    cursor: pointer;
    color: white;
}

.popular2{
    margin-left : 15%;
    margin-right: 15%;
    margin-top: 3rem;
}

.popular2 .row{
    display: flex;
}

.popular2 .img{
    margin-top: 0.25rem;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    background-image: gray;
    margin-right : 3rem;
}

.popular2 .img{
    background: url(./Photo/250px-Dr._Romantic_2_Poster.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 1rem;
    background-color: black;
}

h3{
    font-size: 2rem;
    padding-bottom: 1.5rem;
}

p{
    padding-bottom: 0.75rem;
    font-size: 1.1rem;
}

.popular2 .row .content .button{
    display: flex;
    margin-right: 75px;
}

.popular2 .row .content .button .btn1{
    background-color: gray;
    align-items: center;
    justify-content: center;
    font-size: 1.25em;
    border: 2px solid red;
    background-color: red;
    border-radius: 30px;
    width: 150px;
    height : 40px;
    outline: none;
    cursor: pointer;
    color: white;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.popular2 .row .content .button .btn2{
    background-color: gray;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    font-size: 1.25em;
    border: 2px solid gray;
    background-color: gray;
    border-radius: 30px;
    width: 150px;
    height : 40px;
    outline: none;
    cursor: pointer;
    color: white;
}

.popular3{
    margin-left : 15%;
    margin-right: 15%;
    margin-top: 3rem;
}

.popular3 .row{
    display: flex;
}

.popular3 .img{
    margin-top: 0.25rem;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    background-image: gray;
    margin-right : 3rem;
}

.popular3 .img{
    background: url(./Photo/The_Good_Bad_Mother-p1.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 1rem;
    background-color: black;
}

h3{
    font-size: 2rem;
    padding-bottom: 1.5rem;
}

p{
    padding-bottom: 0.75rem;
}

.popular3 .row .content .button{
    display: flex;
    margin-right: 75px;
}

.popular3 .row .content .button .btn1{
    background-color: gray;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.25em;
    border: 2px solid red;
    background-color: red;
    border-radius: 30px;
    width: 150px;
    height : 40px;
    outline: none;
    cursor: pointer;
    color: white;
}

.popular3 .row .content .button .btn2{
    background-color: gray;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    font-size: 1.25em;
    border: 2px solid gray;
    background-color: gray;
    border-radius: 30px;
    width: 150px;
    height : 40px;
    outline: none;
    cursor: pointer;
    color: white;
}

.popular4{
    margin-left : 15%;
    margin-right: 15%;
    margin-top: 3rem;
}

.popular4 .row{
    display: flex;
}

.popular4 .img{
    margin-top: 0.25rem;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    background-image: gray;
    margin-right : 3rem;
}

.popular4 .img{
    background: url(./Photo/dmnwJGVergOFWCiLbPsQTyyzePw.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 1rem;
    background-color: black;
}

h3{
    font-size: 2rem;
    padding-bottom: 1.5rem;
}

p{
    padding-bottom: 0.75rem;
}

.popular4 .row .content .button{
    display: flex;
    margin-right: 75px;
}

.popular4 .row .content .button .btn1{
    background-color: gray;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.25em;
    border: 2px solid red;
    background-color: red;
    border-radius: 30px;
    width: 150px;
    height : 40px;
    outline: none;
    cursor: pointer;
    color: white;
}

.popular4 .row .content .button .btn2{
    background-color: gray;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    font-size: 1.25em;
    border: 2px solid gray;
    background-color: gray;
    border-radius: 30px;
    width: 150px;
    height : 40px;
    outline: none;
    cursor: pointer;
    color: white;
}

.popular5{
    margin-left : 15%;
    margin-right: 15%;
    margin-top: 3rem;
    margin-bottom: 4rem;
}

.popular5 .row{
    display: flex;
}

.popular5 .img{
    margin-top: 0.25rem;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    background-image: gray;
    margin-right : 3rem;
}

.popular5 .img{
    background: url(./Photo/p16621396_b_v10_aa.jpg);
    background-size: cover;
    background-position: center;
    margin-bottom: 1rem;
    background-color: black;
}

h3{
    font-size: 2rem;
    padding-bottom: 1.5rem;
}

p{
    padding-bottom: 0.75rem;
}

.popular5 .row .content .button{
    display: flex;
    margin-right: 75px;
}

.popular5 .row .content .button .btn1{
    background-color: gray;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 1.25em;
    border: 2px solid red;
    background-color: red;
    border-radius: 30px;
    width: 150px;
    height : 40px;
    outline: none;
    cursor: pointer;
    color: white;
}

.popular5 .row .content .button .btn2{
    background-color: gray;
    align-items: center;
    justify-content: center;
    margin: 1rem;
    font-size: 1.25em;
    border: 2px solid gray;
    background-color: gray;
    border-radius: 30px;
    width: 150px;
    height : 40px;
    outline: none;
    cursor: pointer;
    color: white;
}


footer{
    margin-top: 4rem;
    /* position: fixed; */
    background-color: black;
    width: 100%;
    bottom : 0;
    left: 0;
    
}

footer::before{
    content: '';
    position: relative;
    left: 0;
    top : 100px;
    height: 1px;
    width: 100%;
    background: gray;
}

footer .content1{
    max-width: 1250px;
    margin : auto;
    padding : 30px 40px 40px 40px;
}

footer .content1 .top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2.5rem;
    margin-top: 1.5rem;
}

.logo_name{
    font-size: 2em;
    color: white;
    user-select: none;
}

footer .content1 .link-boxes{
    width: 100%;
    display: flex;
    background-color: black;
    justify-content: space-between ;
}

footer .content1 .link-boxes .box{
    background-color: black;
    width: calc(100% /5-10px);
}

.content1 .link-boxes .box .link_name{
    color: white;
    font-size: 23px;
    font-weight: 400;
    margin-bottom: 10px;
    position : relative;
}

.content1 .link-boxes .box li{
    margin: 6px 0;
    list-style: none;
}

.content1 .link-boxes .box li a{
    color: white;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    opacity: 0.8;
}

footer .bottom-details{
    width: 100%;
    background:black;
    padding-bottom: 1rem;
}

footer .bottom-details .bottom-text{
    max-width: 1250px;
    margin: auto;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
}

.bottom-details .bottom-text span{
    font-size: 16px;
    font-weight: 300;
    color: white;
    opacity: 0.8;
    text-decoration: none;
}

.content1 {
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 900px) {
    footer .content1 .link-boxes{
      flex-wrap: wrap;
    }
    footer .content1 .link-boxes .input-box{
      width: 40%;
      margin-top: 10px;
    }
  }
  @media (max-width: 700px){
    footer{
      position: relative;
    }
    .content1 .top .logo-details{
      font-size: 26px;
    }

    footer .content1 .link-boxes .box{
      width: calc(100% / 3 - 10px);
    }
    footer .content1 .link-boxes .input-box{
      width: 60%;
    }
    .bottom-details .bottom_text span,
    .bottom-details .bottom_text a{
      font-size: 12px;
    }
  }

  @media (max-width: 520px){
    footer::before{
      top: 145px;
    }
    footer .content1 .top{
      flex-direction: column;
    }

    footer .content1 .link-boxes .box{
      width: calc(100% / 2 - 10px);
    }
    footer .content1 .link-boxes .input-box{
      width: 100%;
    }
  }


  @media(max-width: 768px){
    .trend h2{
        justify-content: center;
        align-items: center;
        display: flex;    
        font-size: 28px;
    }

    .trend{
        padding: 0;
        padding-top: 35px;
        justify-content: center;
        align-items: center;
        padding-bottom : 2rem;
        border-bottom: 0.1rem solid black;
        margin-left: 10px;
        margin-right: 10px;
        
    }

    .popular1 .row {
        flex-direction: column;
      }
    
      .popular1 .box,
      .popular1 .content {
        flex: 0 0 100%;
        margin: 20px 0;
      }

    .popular1 .img{
        margin-top: 0.25rem;
        width: 200px;
        height: 300px;
        border-radius: 10px;
        background-image: gray;
        margin-right : 0;
        margin-left: 1.75rem;  
    }

    .popular1 .row .content .button{
        /* align-items: center;
        justify-content: center; */
        display: flex;
        margin-right: 0px;
        margin-left: 0;
    }

    .popular2 .row {
        flex-direction: column;
      }
    
      .popular2 .box,
      .popular2 .content {
        flex: 0 0 100%;
        margin: 20px 0;
      }

    .popular2 .img{
        margin-top: 0.25rem;
        width: 200px;
        height: 300px;
        border-radius: 10px;
        background-image: gray;
        margin-right : 0;
        margin-left: 1.75rem;
        
    }

    .popular2 .row .content .button{
        /* align-items: center;
        justify-content: center; */
        display: flex;
        margin-right: 0px;
        margin-left: 0;
    }


    .popular3 .row {
        flex-direction: column;
      }
    
      .popular3 .box,
      .popular3 .content {
        flex: 0 0 100%;
        margin: 20px 0;
      }

    .popular3 .img{
        margin-top: 0.25rem;
        width: 200px;
        height: 300px;
        border-radius: 10px;
        background-image: gray;
        margin-right : 0;
        margin-left: 1.75rem;
        
    }

    .popular3 .row .content .button{
        /* align-items: center;
        justify-content: center; */
        display: flex;
        margin-right: 0px;
        margin-left: 0;
    }

    .popular4 .row {
        flex-direction: column;
      }
    
      .popular4 .box,
      .popular4 .content {
        flex: 0 0 100%;
        margin: 20px 0;
      }

    .popular4 .img{
        margin-top: 0.25rem;
        width: 200px;
        height: 300px;
        border-radius: 10px;
        background-image: gray;
        margin-right : 0;
        margin-left: 1.75rem;
        
    }

    .popular4 .row .content .button{
        /* align-items: center;
        justify-content: center; */
        display: flex;
        margin-right: 0px;
        margin-left: 0;
    }

    .popular5 .row {
        flex-direction: column;
      }
    
      .popular5 .box,
      .popular5 .content {
        flex: 0 0 100%;
        margin: 20px 0;
      }

    .popular5 .img{
        margin-top: 0.25rem;
        width: 200px;
        height: 300px;
        border-radius: 10px;
        background-image: gray;
        margin-right : 0;
        margin-left: 1.75rem;
    }

    .popular5 .row .content .button{
        /* align-items: center;
        justify-content: center; */
        display: flex;
        margin-right: 0px;
        margin-left: 0;
    }

    h3{
        font-size: 2rem;
        padding-bottom: 1.5rem;
    }
  }

  
